.author-admin-bar-chart{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ececec;
    padding:30px;
    width: 40%;
    height: 370px;

}